#main {
  background-color: #eeeeee;
  height: 100%;
  top: 8rem;
  position: relative;
  z-index: 0; }

.alert {
  font-size: 1.4rem;
  margin: 2.6rem auto; }

#flash-messages {
  position: relative;
  width: 64rem;
  margin: auto; }
  #flash-messages .alert {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-size: 1.4rem;
    margin: 4.6rem auto;
    width: 64rem; }
